* {
   font-family: "Fredoka";
   font-weight: 300;
}

body {
   width: 100vw;
   height: 100vh;
   background: linear-gradient(to bottom, rgb(239,236,219) 50%, rgb(246, 226, 165));
   background-attachment: fixed;
   z-index: -1;
   position: absolute;
   transition: 0.3s;
}

#topbar {
   text-align: center;
   width: 100%;
}

#topbar-right {
   float: right;
   margin-right: 1vw;
   margin-top: -20px;
}

#topbar-right label {
   width: 100px;
   height: 40px;
   position: relative;
   display: block;
   background: #f2efde;
   border-radius: 200px;
   box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
   cursor: pointer;
}

#topbar-right label:after {
   content: "";
   width: 30px;
   height: 30px;
   position: absolute;
   top: 12.5%;
   left: 10%;
   background: linear-gradient(180deg,#ffcc89,#d8860b);
   border-radius: 180px;
   box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

#topbar-right input {
   width: 0;
   height: 0;
   visibility: hidden;
}

#topbar-right input:checked + label:after {
   left: 10%;
   transform: translateX(160%);
   background: linear-gradient(180deg,#777,#3a3a3a);
}

#topbar-right label, label:after {
   transition: 0.6s;
}

body:has(#darkmode-toggle:checked) {
   background: #242424;
}

#three-container {
   width: 100%;
   height: 100%;
   position: relative;
}

#three-container canvas {
   width: 100%;
   height: 100%;
   display: block;
}


#errorText {
   position: absolute;
   top: 12px;
   left: 12px;
   color: white;
   font-family: sans-serif;
   font-size: 14px;
   pointer-events: none;
   text-shadow:
      0 0 2px black,
      0 0 4px black;
}

#postcard {

}

.box1 {
   width: 80%;
   height: 80vh;
   margin: 20px auto;
   background: rgba(255, 255, 255, 0.5);
   border: 2px solid rgba(0, 0, 0, 0.5);
}

.textshadow {
   color: white;
   text-shadow: 
    0 0 2px  #000000,
    0 0 5px #000000,
    0 0 10px #000000,
    0 0 50px #000000;
}


