* {
   font-family: "Fredoka";
   font-weight: 300;
}

:root {
   --topbar-color: rgb(200, 200, 200)
}

body {
   background: linear-gradient(to bottom, var(--topbar-color) 10%, rgb(238, 227, 187));
   background-attachment: fixed;
}

/* a box with text on the top */
#topbar {
   position: fixed;
   background: var(--topbar-color);
   text-align: center;
   width: 100%;

}

.textshadow {
   color: white;
   text-shadow: 
    0 0 2px  #000000,
    0 0 5px #000000,
    0 0 10px #000000,
    0 0 50px #000000;
}


